.secretWord_Hamburger {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10px;
}

.result{
  display: flex;
  justify-content: center;
}

.remaining_Attempts {
  display: flex;
  justify-content: center;
}

h2.hiddenWord {
  font-size: 40px;
  letter-spacing: 5px;
}

img.img_ahorcado {
  filter: invert(1);
}

@media (min-width: 768px) {
  .secretWord_Hamburger{
    grid-template-columns: 75% 25%;
    align-items: center;
  }
  .remaining_Attempts {
    margin-top: 60px;
}
h2.hiddenWord {
  font-size: 50px;
  letter-spacing: 10px;
}
}

@media (min-width: 1440px) {
  .secretWord_Hamburger{
    grid-template-columns: 60% 20% 20%;}
}