.secretWord{
  width: 31.25rem;
  height: auto;

}

.secretWord_Hamburger {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hiddenWord {
  font-size: 4.375rem;
  letter-spacing: 0.625rem;
  position: relative;
  right: 9.375rem;
}

button.refresh {
  width: 6.875rem;
  height: 3.125rem;
  position: absolute;
  right: 53.125rem;
}

.refresh img {
  width: 1.5rem;
  height: auto;

}

.remaining_Attempts p {
  font-size: 1.563rem;
} 

img.img_ahorcado {
  position: absolute;
  top: 1.875rem;
  right: 31.25rem;
  filter: invert(1)
}