.secretWord{
  width: 500px;
  height: auto;

}

.secretWord_Hamburger {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hiddenWord {
  font-size: 70px;
  letter-spacing: 10px;
}
.refresh img {
  width: 100%;
  height: auto;
}

.remaining_Attempts p {
  font-size: 25px;
} 