.grid_letters {
  display: grid;
  grid-template-columns: 3.125rem 3.125rem 3.125rem 3.125rem;
  margin-bottom: 10px;
  justify-content: center;
}

.letter {
  font-size: 1.875rem;
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  border: 1px white solid;
  align-items: center;
  justify-content: center;

}

.letter_used {
  font-size: 1.875rem;
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  border: 1px white solid;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .grid_letters {
    position: absolute;
    top: 300px;
    right: 70px;
  }
}

@media (min-width: 1400px) {
  .grid_letters {
    position: absolute;
    top: 350px;
    right: 250px;
  }
}

@media (min-width: 1800px) {
  .grid_letters {
    position: absolute;
    top: 350px;
    right: 500px;
  }
}