.grid_letters {
  display: grid;
  grid-template-columns: 3.125rem 3.125rem 3.125rem 3.125rem;
  margin-bottom: 10px;
  position: absolute;
  right: 37.5rem;
  top: 25rem;
}

.letter {
  font-size: 1.875rem;
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  border: 1px white solid;
  align-items: center;
  justify-content: center;

}

.letter_used {
  font-size: 1.875rem;
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  border: 1px white solid;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}